/* Font for entire application */
* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
#heading {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    margin-bottom: 10;
}

#preamble {
    min-height: 100px;
}

h2 {
    text-align: center;
}

.quiz {
    text-align: center;
}

/* Question styles */

#question {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    margin: 50px;
}

ol {
    line-height: 2;
    font-size: 1.25em;
}

/* Palette from Coolors */
body {
    background-color: #C455A8;
}

header {
    background-color: gold;
    height: 150px;
    border: 13px groove;
}

#center {
    text-align: center;
}

/* Main game area styles */ 

#gameArea {
    background-color: gold;
    border: 13px groove;
    margin: 20px;
}

#center-answer {
    text-align: center;
}

/* Button styles */ 

button {
    text-align: center;
    font-size: 1.5em;
    border-radius: 12px;
    padding: 1rem;
    margin: 8px;
}
/* Score counter styles */ 

#score {
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
    font-style: italic;
    padding: 20px; 
}

#endGameDiv {
    text-align: center;
    background-color: gold;
    border: 13px groove;
    line-height: 2;
    margin: 20px;
}

/* Instruction styles */

.instructions {
    text-align: center;
    font-style: italic;
    border: 13px groove;
    font-size: 2.4em;
    background-color: gold;
    margin: 20px;
    padding-left: 40px;
    list-style-type: auto;
}

/* Home link styles */ 

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Copyright symbol styles */

#copyright {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    border: 13px groove;
    background-color: gold;
    padding: 10px;
}

/* Media queries below */

@media screen and (max-width: 576px) {
    #heading {
        font-size: 2em;
        }
    
    .instructions {
        font-size: 2em;
        }

}

/* For iPhone 4 screen size on "Am I Responsive?" */ 

@media screen and (max-width: 320px) {

    #heading,
    h2 {
        font-size: 1.4em;
    }

    .instructions,
    #copyright {
        font-size: 0.9em;
    }

    button {
        font-size: 1em;
        line-height: 2;
    }

    #question {
        font-size: 1.3em;
    }

}