/* Font for entire application */
* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* General styles */
h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
}

ol {
    line-height: 2;
}

body {
    background-color: #F9E900;
}

header {
    background-color: #3ec300;
    height: 130px;
}

.center {
    text-align: center;
}

button:hover {
    background-color: #3ec300;
}

button .instructions {
    text-align: center;
}

#score {
    text-align: center;
    font-weight: 900;
}

.quiz-main {}

a {
    text-decoration: none;
}