/* Font for entire application */
* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* General styles */
h1 {
    text-align: center;
    font-size: 3em;
    color: black;
}

h2 {
    text-align: center;
}

.quiz {
    text-align: center;
}

#question {
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

#copyright {
    text-align: center;
    font-size: 2em;
}

ol {
    line-height: 2;
    font-size: 1.25em;
}

/* Palette from Coolors */
body {
    background-color: black;
}

/* Palette from Coolors */
header {
    background-color: gold;
    height: 150px;
    border: 13px groove;
}

#center {
    text-align: center;
}

#gameArea {
    background-color: gold;
    border: 13px groove;
}

#center-answer {
    text-align: center;
}

button {
    text-align: center;
    font-size: 1.25em
}

#score {
    text-align: center;
    font-weight: 700;
    font-size: 1.25em
}

#endGameDiv {
    text-align: center;
    background-color: gold;
    border: 13px groove;
    font-size: 2em;
}

.instructions {
    text-align: center;
    list-style-type: none;
    font-style: italic;
    border: 13px groove;
    font-size: 2.4em;
    background-color: gold;
}

a {
    text-decoration: none;
}

#copyright {
    font-style: italic;
    border: 13px groove;
    background-color: gold
}